<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

  <!--  Зависимости Bootstrap-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
  <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>

  <title>Кинотеатр!</title>
</head>
<body>
<div class="container-fluid p-0">
  <header th:insert="blocks/header :: header"></header>
  <div class="container">
    <div class="row">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Начало</th>
          <th scope="col">Фильм</th>
          <th scope="col">Кинозал</th>
          <th scope="col">Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td th:text="${{startTime}}" />
          <td th:text="${filmName}" />
          <td th:text="${hallName}" />
          <td th:text="${price}" />
        </tr>
        </tbody>
      </table>
    </div>
      <form class="mt-3" th:action="@{/tickets/create}" method="post">
        <input type="hidden" name="sessionId" th:value="${sessionId}">
        <input type="hidden" name="userId" th:value="${user.id}">
        <div class="row">
          <div class="col-6">
          <div class="col">
            <div class="mb-3">
              <label for="rowNumber"><b>Выберите ряд</b></label>
              <select class="form-control" id="rowNumber" name="rowNumber">
                <option th:each="row : ${rows}" th:value="${row}" th:text="${row}"></option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="placeNumber"><b>Выберите место</b></label>
              <select class="form-control" id="placeNumber" name="placeNumber">
                <option th:each="place : ${places}" th:value="${place}" th:text="${place}"></option>
              </select>
            </div>
          </div>
          </div>
          <div class="col-6"></div>
        </div>
        <div class="col-6"></div>
        <div class="col-6">
          <div class="row">
            <div class="col-6"><a class="btn btn-danger w-100" th:href="@{/filmsessions}">Отмена</a></div>
            <div class="col-6"><button class="btn btn-primary w-100" type="submit">Купить</button></div>
          </div>
        </div>
      </form>
  </div>
  <footer th:insert="blocks/footer :: footer"></footer>
</div>
</body>
</html>